.dashboard-container{
    width:100%;
    max-width:1200px;

}

.cards{

    display:grid;
    grid-template-columns:repeat(3,350px);
    gap:18px;
    justify-content:center;
    margin-top:25px;

}

.quick-actions {
    justify-content: center;
    margin-top: 40px;
}

.section-heading {
    color: #1f2937;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.section-heading h2{

    margin:0;
    font-size:34px;
    font-weight:700;
    color:#1f2937;

}

.section-heading p {

    font-size: 18px;
    margin-top: 10px;
    color: #6b7280;
}

.action-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 45px;
}

.action-card{

    width:270px;
    height:250px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:white;
    border:1px solid #d1d5db;
    border-radius:20px;

    text-decoration:none;
    color:inherit;

    transition:.25s ease;

    box-shadow:0 2px 8px rgba(0,0,0,.05);

}

.action-card:hover {
    border-color: #d1d5db;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
    transform: translateY(-6px);
}

.action-icon {
    width: 90px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 18px;

    background: #eff6ff;
    color: #2563eb;

    margin-bottom: 12px;
    transition:all .25s ease;
}

.action-icon mat-icon{

    font-size:45px;
    width:45px;
    height:45px;

}

.action-card h3{

    margin-top:18px;
    margin-bottom:12px;

    font-size:22px;
    font-weight:700;

    color:#374151;

}

.action-card p{

    font-size:15px;
    line-height: 1.45;
    color:#6B7280;
    max-width: 180px;

}

.action-card:hover .action-icon{

    transform:scale(1.12);
    transition:all .25s ease;

}

.customer-icon{

    background: #F3E8FF;
    color: #9333EA;

}

.invoice-icon{

    background:#FEF3C7;
    color: #D97706;

}

.license-icon{

    background: #DCFCE7;
    color: #16A34A;

}

.device-icon{

    background: #DBEAFE;
    color:#2563EB;

}