<div class="container">
    <h2>View and Manage Devices</h2>
    <div class="table-card">
        <table>
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Serial Number</th>
                    <th>Model ID</th>
                    <th>Sale Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for(device of devices; track device.deviceId){
                    <tr>
                        <td>{{ device.deviceId }}</td>
                        <td>{{ device.serialNumber }}</td>
                        <td>{{ device.modelId }}</td>
                        <td>{{ device.saleDate }}</td>
                        <td>
                            <div
                                class="status-wrapper"
                                [ngClass]="{
                                    'status-available': device.deviceStatus === 'Available',
                                    'status-sold': device.deviceStatus === 'Sold',
                                    'status-replaced': device.deviceStatus === 'Replaced'
                                }">
                                <select
                                    class="status-select"
                                    [ngClass]="{
                                        'status-available': device.deviceStatus === 'Available',
                                        'status-sold': device.deviceStatus === 'Sold',
                                        'status-replaced': device.deviceStatus === 'Replaced'
                                    }"
                                    [(ngModel)]="device.deviceStatus"
                                    (change)="onStatusChange(device)">
                                    <option value="Available">Available</option>
                                    <option value="Sold">Sold</option>
                                    <option value="Replaced">Replaced</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <button
                                class="save-btn"
                                [disabled]="!device.dirty"
                                (click)="updateDeviceStatus(device)">
                                <img
                                    src="https://img.icons8.com/ios_filled/512w/FFFFFF/save.png"
                                    class="save-icon"
                                    alt="">
                                Save
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
